header{
    background-color: aqua;
    height: 80px;
}
header ul{
    display: flex;
    position: absolute;
    right: 20px;
    top: 1%;
}
header ul a{
    color: #5D5D5D;
    font-size: 15px;
    padding: 5px;
}
header ul a:hover{
    color: #FF3E1D;
}
header hr{
    background-color:#FF3E1D;
    height: 3px;
    border: none;
    width: 100%;
    margin-top: 50px;
}

#burguer{
    font-size: 18px;
    position: fixed;
    top: 1%;
    left: 20px;
    z-index: 100;
    color: #FF3E1D;
    cursor: pointer;
}

.header-text{
    font-size: 12px;
    position: relative;
    top: 50%;
}