
/*FIRST SECTION*/
#section-first-img img{
    width: 100%;
    margin-bottom: 50px;
}
#section-first-text h1{
    font-size: 30px;
}
#section-first-text-subt{
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: -20px;
    text-transform: uppercase;
}

@media (min-width:480px){
    #section-first-cont{
        display: flex;
    }
    #section-first-text h1{
        font-size: 45px;
    }
    #section-first-text-subt{
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #section-first-text-p{
        font-size: 18px;
    }
    #section-first-img{
        width: 100%;
        margin-left: 10px;
    }
    #section-first button{
        font-size: 15px;
        height: 35px;
        width: 180px;
    }
}

/*SECOND SECTION*/

#section-second h2{
    margin-bottom: 30px;
}
.item-subt{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-second-item{
    margin-top: 30px;
}
#section-second{
    margin-top: -30px;
}
#section-second{
    margin-top: -30px;
}

@media (min-width:480px){
    #section-second h2{
        font-size: 35px;
    }
    #section-second-content{
        display: flex;
        flex-wrap: wrap;
    }
    .section-second-item{
        width: 45%;
    }
    #up-right{
        margin-left: 10%;
    }
    #down-right{
        margin-left: 10%;
    }
    .section-second-item img{
        width:50%;
    }
    .section-second-item p{
        font-size: 18px;
    }
    .item-subt{
        font-size: 22px;
    }
}

/*THIRD SECTION*/

#section-third h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
.section-third-item{
    margin-top: 30px;
}
.section-third-subt{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width:480px){
    #section-third h2{
        font-size: 35px;
    }
    #section-third-content{
        display: flex;
        flex-wrap: wrap;
    }
    .section-third-item{
        width: 45%;
    }
    #right-up{
        margin-left: 10%;
    }
    #right-down{
        margin-left: 10%;
    }
    .btn-feat{
        font-size: 15px;
        height: 35px;
        width: 150px;
    }
}

/*FOURTH SECTION*/

#section-fourth h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
#part-one{
    display: flex;
    flex-direction: column;
}
#part-one input{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20px;
}

#contact-area input{
    margin-top: 10px;
}

textarea{
    margin-top: 20px;
    width: 400px;
    margin-bottom: 10px;
}

#section-fourth-btns input{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

@media (min-width:480px){
    #part-one{
        display: flex;
    }
    .part-one-input{
        width: 50%;
    }
}

/*FIFTH SECTION*/

#section-fifth h4{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#something-content img{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
}

@media (min-width:480px){
}