
main{
}


/*FIRST SECTION*/
#section-first{
    background-color: beige;
}
#section-first-img{
    width: 100%;
}

#section-first-text h1{
}
#section-first-text-subt{
    font-size: 20px;
}


#section-second{
}




#section-third img{
    width: 100vw;
}