
/*FIRST SECTION*/
#section-first{
    position: relative;
}
#section-first-img img{
    width: 100%;
    margin-bottom: 50px;
}
#section-first-text-p{
}
#section-first-text h1{
    font-size: 30px;
}
#section-first-text-subt{
    font-size: 18px;
    font-weight: 100;
    margin-top: -20px;
    margin-bottom: -20px;
    text-transform: uppercase;
}
#section-first button{
    position: absolute;
    bottom: 0;
}


/*SECOND SECTION*/

#section-second h2{
    margin-bottom: 30px;
}
.item-subt{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-second-item{
    margin-top: 30px;
}





#section-second{
    margin-top: -30px;
}
#section-second{
    margin-top: -30px;
}


/*THIRD SECTION*/

#section-third h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
.section-third-item{
    margin-top: 30px;
}
.section-third-subt{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*FOURTH SECTION*/

#section-fourth h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
#part-one{
    display: flex;
    flex-direction: column;
}
#part-one input{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20px;
}

#contact-area input{
    margin-top: 10px;
}

textarea{
    margin-top: 20px;
    width: 400px;
    margin-bottom: 10px;
}

#section-fourth-btns input{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

/*FIFTH SECTION*/

#section-fifth h4{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#something-content{
    display: flex;
    flex-wrap: wrap;
}
#something-content img{
    margin-top: 10px;
    margin-bottom: 20px;
}