
aside{
    display: none;
    width: 25%;
    height: 100vh;
    position: fixed;
    background-color: #AACE9B;
    font-family: 'Inter', sans-serif;
}
nav{
    padding-left: 20px;
}

@media (min-width:768px){
    aside{
        display: block;
    }
}