*{
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

p{
    color: #373867;
}
a{
    color: #373867;
}
span{
    color: #373867;
}
h1{
    color: #373867;
}
h2{
    color: #373867;
}
body{
    padding: 10px;
}
header{
    padding-left: 30%;
    padding-right: 5%;
}


header span{
    font-weight: 700;
}

header ul{
    list-style: none;
    float: right;
}
header ul li{
    display: inline;
}
header ul a{
    color: #5D5D5D;
    font-size: 25px;
}
header ul a:hover{
    color: #FF3E1D;
}

header hr{
    width: 100%;
    height: 1px;
    background-color: #FF3E1D;
    border: none;
}




aside{
    width: 28%;
    float: left;
    height: 100%;
    position: fixed;
    background-color: #AACE9B;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
}

#nav-title-menu{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}
#nav-title-sub{
    width: 80px;
    float: left;
    height: 1px;
    background-color: #FF3E1D;
    border: none;
}

#nav-links{
    margin-top: 100px;
}

nav li{
    margin-top: 40px;
}

nav li a{
    font-size: 20px;
}
#nav-get-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
}
#nav-get-sub{
    width: 170px;
    float: left;
    height: 1px;
    background-color: #FF3E1D;
    border: none;
}
#nav-get-text{
    margin-top: 30px;
}

.nav-link-sub{
    width: 90%;
    margin-right: 200px;
    height: 1px;
    border: none;
    background-color:grey;
}

#nav-contact i{
    color: #373867;
    font-size: 20px;
}




main{
    position: absolute;
    margin-left: 30%;
}


#section-first-text{
    display: inline-block;
    width: 60%;
}
#section-first-text h1{
    padding-bottom: 50px;
}
#section-first-text-subt{
    font-size: 20px;
    padding-bottom: 40px;
}
#section-first-text-p{
    padding-bottom: 30px;
}

#section-first-img{
    display: inline-block;
}


.btn-orng{
    border-color: #FF3E1D;
    color: #FF3E1D;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: #fff;
}
.btn-orng:hover{
    background-color: #FF3E1D;
    color: #fff;
}

#section-first-end{
    margin-top: 60px;
    width: 95%;
}

main h1{
    font-size: 40px;
}





#section-second h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
}

#section-second-sub{
    width: 350px;
    float: left;
    height: 1px;
    background-color: #FF3E1D;
    border: none;   
}

#section-second-content{
    width: 100%;
    position: relative;
}


#up-left{
    width: 30%;
}
#up-right{
    width: 30%;
    position: absolute;
    left: 50%;
    bottom: 0px;
}
#down-left{
    width: 30%;
    position: absolute;
    left: 0px;
    top: 250px;
}
#down-right{
    width: 30%;
    position: absolute;
    left: 50%;
    top: 250px;
}




#section-third h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 300px;
}
#section-third-sub{
    width: 350px;
    float: left;
    height: 1px;
    background-color: #FF3E1D;
    border: none; 
}
#section-third-content{
    display: inline-block;
}